body {
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    background-color: #F9FAF8;
    box-sizing: border-box;
    flex: 1;
}

img {
    width: 450px;
    height: auto;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 90px;
    padding-right: 90px;
    color: #F9FAF8;

    padding-bottom: 50px;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
}

h2 {
    margin: 0px;
}

.innercont-top p {
    font-size: 18px;
    color: #E5E7EB;
}

.content-top {
    padding-top: 25px;
    display: flex;
    gap: 16px;
}

.innercont-top  {
    margin-top: 0px;
}

button {
  background-color: #3882F6;
  border: 0px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #F9FAF8;
}




ul {
    display: inline-flex;
    list-style: none;
    color: #E5E7EB;
    gap: 16px;
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 250px;
}

.center h2 {
    margin-top: 25px;
}

.content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 100px;
    color: #6a6b6c;
    font-size: 12px;
}

.box-p {
    margin-top: 2px;
}

.image-square {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 2.8px;
    border-radius: 8px;
    border-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    height: 260px;
    font-size: 25px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.quote-box {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.author {
    margin: 0px;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
}